<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.datasource">java:/comp/env/jdbc/proyecto2</property>
    <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="datos/hibernate/Rol.hbm.xml"/>
    <mapping resource="datos/hibernate/Usuario.hbm.xml"/>
    <mapping resource="datos/hibernate/Categoria.hbm.xml"/>
    <mapping resource="datos/hibernate/Producto.hbm.xml"/>
    <mapping resource="datos/hibernate/Venta.hbm.xml"/>
    <mapping resource="datos/hibernate/Trueque.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
